body
{
    font-family: sans-serif;
}
#navHeader
{
    background-image: url(basketballtexture.jpg);
    height: 50px;
    font-size: xx-large;
    font-weight: bold;
}
p
    {
        margin: 0px;
    }
.firstTable
    {
        width: 50%;
        border: 1px solid black;
        display: table;
        margin: 5px 5px;
    }
.playingTable
    {
        width: 50%;
        border: 1px solid black;
        display: table;
        margin: 0px 5px;
    }
.benchTable
    {
        width: 50%;
        border: 1px solid black;
        display: table;
        margin: 0px 5px;
    }
.titleRow
    {
        border: 1px solid black;
        display: table-row;
    }
.playerRow
    {
        border: 1px solid black;
        display: table-row;
    }
.totalRow
    {
        border: 1px solid black;
        display: table-row;
    }
.benchRow
    {
        border: 1px solid black;
        display: table-row;
    }
.playingRow1
    {
        border: 1px solid black;
        display: table-row;
        background-color: black;
        color: white;
    }
.playingRow2
    {
        border: 1px solid black;
        display: table-row;
        background-color: #87CEFA;
    }
.playingRow3
    {
        border: 1px solid black;
        display: table-row;
        background-color: #ff8080;
    }
.playingRow4
    {
        border: 1px solid black;
        display: table-row;
        background-color: #FFB6C1;
    }
.playingRow5
    {
        border: 1px solid black;
        display: table-row;
    }
.titleCell
    {
        border: 1px solid black;
        display: table-cell;
        text-align: center;
        padding: 1px 2px;
    }

.playerCell
    {
        border: inherit;
        display: table-cell;
        text-align: center;
    }
.totalCell
    {
        border: 1px solid black;
        display: table-cell;
        text-align: center;
    }
.benchCell
    {
        border: 1px solid black;
        display: table-cell;
        text-align: center;
    }
.playingCell
    {
        border: 1px solid black;
        display: table-cell;
        text-align: center;
    }
[hide1st="true"]
    {
        display: none;
    }

.topButtons
{
    display: inline-block;
    padding: 3px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: solid 1px black;
}

.topButtons:hover
{
    border-width: 2px;
}

.topButtons:active
{
    transform: translateY(4px);
}

#backToCoachButton
{
    background-color: orangered;
    border: 1px solid black;
    font-size: medium;
    outline: none;
    cursor: pointer;
}
#backToCoachButton:hover
{
    border-width: 2px;
}
#backToCoachButton:active
{
    transform: translateY(4px);
}
